<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRYPTIC HUNT | 2020 </title>

    <meta charset="UTF-8">
    <title>Crypt Decode</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="../static/product.js"></script>
    <link href="../static/product.css" rel="stylesheet">

    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
           <a class="py-2 d-non d-md-inline-block" href="{{ url_for('home')}}">Home</a>

            {%if current_user.is_authenticated%}
            <a class="py-2 d-none d-md-inline-block" href="{{url_for('play')}}">Play</a>
            <a class="py-2 d-none d-md-inline-block" href="#">Hints</a>
            <a class="py-2 d-none d-md-inline-block" href="{{url_for('logout')}}">Logout</a>
            {%else%}
            <a class="py-2 d-none d-md-inline-block" href="{{ url_for('register')}}">Register</a>
            <a class="py-2 d-none d-md-inline-block" href="{{ url_for('login')}}">Login</a>
            {%endif%}
            <a class="py-2 d-none d-md-inline-block" href="#">Leader Board</a>
            <a class="py-2 d-none d-md-inline-block" href="https://forms.gle/FCc5TEN9d6XtnwqS7">Contact Us</a>
        </div>
    </nav>

</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>
