{% extends "base.html" %}


{% block content %}
<main class="lboard-hero">
    <h1 class="heading-1">Leaderboard</h1>
    <div class="lboard">
      {%for user in all_users%}
        <div class="lboard-item">
            <p class="sno">{{rank.pop()}}</p>
            {%if user == current_user%}
            <p class="lboard-name">{{user.username}}(You)</p>
            {%else%}
            <p class="lboard-name">{{user.username}}</p>
            {%endif%}
            <p class="lboard-points">{{user.question}}</p>
        </div>
      {%endfor%}
    </div>
</main>
{%endblock%}
