{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{mess}}
    </div>
    <form  method="post">
      {{form.hidden_tag()}}
      {{form.username.label}}<br>{{form.username()}}<br>
      <small id="emailHelp" class="form-text text-muted">Play Well</small>
      {{form.password.label}}<br>{{form.password()}}
      {{form.submit}}
    </form>

  </div>

</div>

{% endblock %}
