{%extends "base.html"%}

{%block content%}

<main class="play-hero">
  <h2 class="heading-2">Level {{use}}</h2>
  <form method="post">

    <p class="question">{{question}}</p>
    <!-- <input type="text" class="form-input answer exceptions"></input>   -->
    {{form.hidden_tag()}}
    <!-- {{form.answer.label}}<br> -->
    {{form.answer(class="form-input exceptions answer")}}
    {{form.submit(class="btn")}} 
  </form>
  {%if mess == "wrong"%}
  <!-- write the wrong pop up -->
  {%elif mess == "correct"%}
  <!-- write the correct pop up -->
  {%endif%}
</main>

{%endblock%}
